Repository teamdable/techblog, pull requests merged in 2019-06, with the labels that each got.

#5 Add a new post, "CPU, GPU, and TensorFlow".
  _posts/2019-06-23-CPU-GPU-and-TensorFlow.md
  assets/images/CPU-GPU-and-TensorFlow/cpu_gpu_pipeline.png
Labels: new post

#8 아무 하위 메뉴도 없는 site nav 감추기
  _includes/head.html
Labels: bug

#7 home page, 404 page item_id meta tag 방지
  _includes/head.html
Labels: bug

#9 Add a new post, "Derivation of the Multivariate Normal Distribution".
  _posts/2019-06-28-Derivation-of-the-Multivariate-Normal-Distribution.md
Labels: new post

#11 글 작성 가이드
  README.md
Labels: enhancement

#10 add a new page for Time-Series-Analysis
  .gitignore
  _posts/2019-06-29-Time-Series-Analysis-hw.md
  assets/images/Time-Series-Analysis-hw/seasonality.jpg
Labels: new post
