Repository teamdable/techblog, pull requests merged in 2021-02, with the labels that each got.

#39 Add a new post, 'Kubernetes'.
  _posts/2021-02-07-Kubernetes.md
Labels: new post

#40 Add PersistentVolume, StatefulSet to Kubernetes post.
  _posts/2021-02-07-Kubernetes.md
Labels: edit/delete post

#38 ADD: TDD and Wallaby.js
  _posts/2021-01-28-TDD-and-wallaby.md
  assets/images/TDD-and-Wallaby/TDD.png
  assets/images/TDD-and-Wallaby/code.png
  assets/images/TDD-and-Wallaby/message1.jpg
  assets/images/TDD-and-Wallaby/process.png
  assets/images/TDD-and-Wallaby/slack.jpg
Labels: new post

#42 FIX: edit img link url
  _posts/2021-02-25-TDD-and-wallaby.md
Labels: bug
